header#page-header {
    display: none !important;
  }
  
  .btn-outline-primary:hover, .btn-outline-primary:focus , input.btn-primary:focus, .form-control:focus{
      border-color: #0f6fc5 !important;
      outline: 0px solid #0f6fc5 !important;
  background: white !important;
  color: #000 !important;
  box-shadow: none !important;
    }
    #exam-list {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #exam-list td, #exam-list th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    
    #exam-list tr:hover{background-color: #fff;cursor: pointer;}
    #exam-list tr {background-color: #9bf3f3;}
    
    #exam-list th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #00b0f0;
      color: white;
    }
    
    
    .rowStyle{
        width:100%;
        padding-top:2%;
        text-align:left;
    }
    .btn-primary:hover,.btn-primary:focus {
        border-color:#009688;
    }
    .btn-primary {
        border-color:#009688 !important;
    }
    .hidden{
      display:none;
  }
  
   
   .special {
     display: block;
     font-family: "Montserrat", sans-serif;
   }
   .special .specialContent {
     padding: 1em 1em 0;
     display: block;
     margin-top: .5em;
     border-top: 1px solid #dadada;
   }
   .special .specialContent:before {
     content: "\21b3";
     font-size: 1.5em;
     margin-right: 1em;
     color: #6f6f6f;
     font-family: helvetica, arial, sans-serif;
   }
  
   a.remove {
     text-decoration: none;
   font-family: "Montserrat", sans-serif;
   color: #ffffff;
   font-weight: bold;
   background: #f20606;
   padding: 4px 6px;
   font-size: 16px;
   display: inline-block;
   border-radius: 100%;
   line-height: .85;
   -webkit-transition: all 0.25s linear;
   -moz-transition: all 0.25s linear;
   -ms-transition: all 0.25s linear;
   -o-transition: all 0.25s linear;
   transition: all 0.25s linear;
   }
   a.remove:hover {
     background: #f30;
   }
  
   .promoCode {
     border: 2px solid #efefef;
     float: left;
     width: 35%;
     padding: 2%;
   }
   .promoCode label {
     display: block;
     width: 100%;
     font-style: italic;
     font-size: 1.15em;
     margin-bottom: .5em;
     letter-spacing: -.025em;
   }
   .promoCode input {
     width: 85%;
     font-size: 1em;
     padding: .5em;
     float: left;
     border: 1px solid #dadada;
   }
   .promoCode input:active, .promoCode input:focus {
     outline: 0;
   }
   .promoCode a.btn {
     float: left;
     width: 15%;
     padding: .75em 0;
     border-radius: 0 1em 1em 0;
     text-align: center;
   }
   /* .promoCode a.btn:hover {
     border: 1px solid #f69679;
     background: #f69679;
   } */
  
   .btn:link, .btn:visited {
     text-decoration: none;
     font-family: "Montserrat", sans-serif;
     letter-spacing: -.015em;
     font-size: 1em;
     padding: 1em 3em;
     color: #fff;
     background: #950505;
     font-weight: bold;
     border-radius: 50px;
     float: right;
     text-align: right;
     -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
     -ms-transition: all 0.25s linear;
     -o-transition: all 0.25s linear;
     transition: all 0.25s linear;
   }
   .btn:after {
     content: "\276f";
     padding: .5em;
     position: relative;
     right: 0;
     -webkit-transition: all 0.15s linear;
     -moz-transition: all 0.15s linear;
     -ms-transition: all 0.15s linear;
     -o-transition: all 0.15s linear;
     transition: all 0.15s linear;
   }
   /* .btn:hover, .btn:focus, .btn:active {
     background: #f69679;
   } */
   .btn:hover:after, .btn:focus:after, .btn:active:after {
     right: -10px;
   }
   .promoCode .btn {
     font-size: .85em;
     padding: .5em 2em;
   }
  
   /* TOTAL AND CHECKOUT  */
   .subtotal {
     float: right;
     width: 35%;
   }
   .subtotal .totalRow {
     padding: .5em;
     text-align: right;
   }
   .subtotal .totalRow.final {
     font-size: 1.25em;
     font-weight: bold;
   }
   .subtotal .totalRow span {
     display: inline-block;
     padding: 0 0 0 1em;
     text-align: right;
   }
   .subtotal .totalRow .label {
     font-family: "Montserrat", sans-serif;
     font-size: .85em;
     text-transform: uppercase;
     color: #777;
   }
   .subtotal .totalRow .value {
     letter-spacing: -.025em;
     width: 35%;
   }
  
   @media only screen and (max-width: 39.375em) {
     .wrap {
       width: 98%;
       padding: 2% 0;
     }
  
     .projTitle {
       font-size: 1.5em;
       padding: 10% 5%;
     }
  
     .heading {
       padding: 1em;
       font-size: 90%;
     }
  
     .cart .items .cartSection {
       width: 90%;
       display: block;
       float: left;
     }
     .cart .items .cartSection.qtyWrap {
       width: 10%;
       text-align: center;
       padding: .5em 0;
       float: right;
     }
     .cart .items .cartSection.qtyWrap:before {
       content: "QTY";
       display: block;
       font-family: "Montserrat", sans-serif;
       padding: .25em;
       font-size: .75em;
     }
     .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
       display: none;
     }
     .cart .items .cartSection .itemImg {
       width: 25%;
     }
  
     .promoCode, .subtotal {
       width: 100%;
     }
  
     a.btn.continue {
       width: 100%;
       text-align: center;
     }
   }
  
  
  .page-nav11 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    width: max-content;
    margin: auto;
  }
  
  .logo{
    padding: 10px;
    margin: auto 0;
  }
  .nav-area {
    width: 100%;
    margin: auto;
    background: #6761b5;
    margin-bottom: 2em;
    display: flex;
  
  }
  
  .page-nav11 li {
    float: left;
  }
  
  .page-nav11 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600 !important;
    font-size: 15px !important;
  }
  
  .page-nav11 li a:hover, .page-nav11 li a:focus {
    background-color: #5e58aa !important;
    color: white !important;
  }
  .btn-primary:hover {
      border-color:#009688;
  }
  .btn-primary {
      border-color:#009688;
  }
  .form-style {
      /*width: max-content;*/
      margin: auto;
      /*border: 2px solid #ccc;*/
          padding: 2%;
  }
  .form-style input.m-element-button{
      border: none;
      height: 40px;
  }
  .form-style input.m-element-button {
      padding: 0 25px;
      /*margin-left: 10px;*/
  }
  /* .auth_form h3 {
      margin-bottom: 1em;
  } */
  .auth_form select {
      height: 35px;
      /*border-color: #efefef;*/
      padding: 0 20px;
      outline: none;
      margin-bottom: 0.5rem;
      border: 2px solid #efefef !important;
  }
  input[type="date"], input[type="text"] {
      height: 35px;
  }
  form#course_form input.m-element-button {
      background: #009688;
      color: #fff;
      margin-left: 28%;
  }
  .course-box1, .course-box2, .course-box3 {
      width: 33%;
      float: left;
      background: #595959;
      padding: 2%;
  }
  .flex11 {
      display: flex;
      /*background: #595959;*/
      /*padding: 10px;*/
      color: #fff;
  }
  .course-box2,  .course-box3 {
      margin-left: 1%;
  }
  footer.copyright-area {
      width: 100%;
      background: #6761b5;
      margin-top: 2em;
      color: #fff;
      padding: 10px;
  }
  .Schedule {
      color: #111;
      margin-bottom: 1em;
      width: 100%;
  }
  section#region-main {
      padding: 0;
  }
  .marginBtn{
      margin-top:40%;
  }
  .hidden{
      display:none;
  }
  
   @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     font-size: 100%;
     vertical-align: baseline;
   }
  
   ol, ul {
     list-style: none;
   }
  
   table {
     border-collapse: collapse;
     border-spacing: 0;
   }
  
   caption, th, td {
     text-align: left;
     font-weight: normal;
     vertical-align: middle;
   }
  
   q, blockquote {
     quotes: none;
   }
   q:before, q:after, blockquote:before, blockquote:after {
     content: "";
     content: none;
   }
  
   a img {
     border: none;
   }
  
   article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
     display: block;
   }
  
   * {
     box-sizing: border-box;
   }
  
   body {
     color: #333;
     -webkit-font-smoothing: antialiased;
     font-family: "Droid Serif", serif;
   }
  
   img {
     max-width: 100%;
   }
  
   .cf:before, .cf:after {
     content: " ";
     display: table;
   }
  
   .cf:after {
     clear: both;
   }
  
   .cf {
     *zoom: 1;
   }
  
   .wrap {
     width: 75%;
     max-width: 100%;
     margin: 0 auto;
     padding: 5% 0;
     margin-bottom: 5em;
   }
  
   .projTitle {
     font-family: "Montserrat", sans-serif;
     font-weight: bold;
     text-align: center;
     font-size: 2em;
     padding: 1em 0;
     border-bottom: 1px solid #dadada;
     letter-spacing: 3px;
     text-transform: uppercase;
   }
   .projTitle span {
     font-family: "Droid Serif", serif;
     font-weight: normal;
     font-style: italic;
     text-transform: lowercase;
     color: #777;
   }
  
   .heading {
     padding: 1em 0;
     border-bottom: 1px solid #D0D0D0;
   }
   .heading h1 {
     font-family: "Droid Serif", serif;
     font-size: 2em;
     float: left;
     margin: 0;
   }
   .heading a.continue:link, .heading a.continue:visited {
     text-decoration: none;
     font-family: "Montserrat", sans-serif;
     letter-spacing: -.015em;
     font-size: .75em;
     padding: 1em;
     color: #fff;
     background: #950505;
     font-weight: bold;
     border-radius: 50px;
     float: right;
     text-align: right;
     -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
     -ms-transition: all 0.25s linear;
     -o-transition: all 0.25s linear;
     transition: all 0.25s linear;
   }
   .heading a.continue:after {
     content: "\276f";
     padding: .5em;
     position: relative;
     right: 0;
     -webkit-transition: all 0.15s linear;
     -moz-transition: all 0.15s linear;
     -ms-transition: all 0.15s linear;
     -o-transition: all 0.15s linear;
     transition: all 0.15s linear;
   }
   /* .heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
     background: #f69679;
   } */
   .heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
     right: -10px;
   }
  
   .tableHead {
     display: table;
     width: 100%;
     font-family: "Montserrat", sans-serif;
     font-size: .75em;
   }
   .tableHead li {
     display: table-cell;
     padding: 1em 0;
     text-align: center;
   }
   .tableHead li.prodHeader {
     text-align: left;
   }
  
   .cart {
     padding: 1em 0;
   }
   .cart .items {
     display: block;
     width: 100%;
     vertical-align: middle;
     padding: 1.5em;
     border-bottom: 1px solid #fafafa;
   }
   .cart .items.even {
     background: #fafafa;
   }
   .cart .items .infoWrap {
     display: table;
     width: 100%;
   }
   .cart .items .cartSection {
     display: table-cell;
     vertical-align: middle;
   }
   .cart .items .cartSection .itemNumber {
     font-size: .75em;
     color: #777;
     margin-bottom: .5em;
   }
   .cart .items .cartSection h3 {
     font-size: 1em;
     font-family: "Montserrat", sans-serif;
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: .025em;
   }
   .cart .items .cartSection p {
     display: inline-block;
     font-size: .85em;
     color: #777777;
     font-family: "Montserrat", sans-serif;
   }
   .cart .items .cartSection p .quantity {
     font-weight: bold;
     color: #333;
   }
   .cart .items .cartSection p.stockStatus {
     color: #82CA9C;
     font-weight: bold;
     padding: .5em 0 0 1em;
     text-transform: uppercase;
   }
   .cart .items .cartSection p.stockStatus.out {
     color: #F69679;
   }
   .cart .items .cartSection .itemImg {
     width: 4em;
     float: left;
   }
   .cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
     text-align: center;
   }
   .cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
     font-weight: bold;
     font-size: 1.25em;
   }
   .cart .items .cartSection input.qty {
     width: 3em;
     text-align: center;
     font-size: 1em;
     padding: .25em;
     margin: 1em .5em 0 0;
   }
   .btn-icon.btn-outline-info{
  margin-left:5px ;
   }
   .btn-icon.btn-outline-info::after{
    content: unset !important ;
     }
   .selected_pagination{    background: #4cb74c !important;
    color: white !important;
    font-weight: bold !important;}
   .cart .items .cartSection .itemImg {
     width: 8em;
     display: inline;
     padding-right: 1em;
   }
  
   .special {
     display: block;
     font-family: "Montserrat", sans-serif;
   }
   .special .specialContent {
     padding: 1em 1em 0;
     display: block;
     margin-top: .5em;
     border-top: 1px solid #dadada;
   }
   .special .specialContent:before {
     content: "\21b3";
     font-size: 1.5em;
     margin-right: 1em;
     color: #6f6f6f;
     font-family: helvetica, arial, sans-serif;
   }
  
   a.remove {
     text-decoration: none;
   font-family: "Montserrat", sans-serif;
   color: #ffffff;
   font-weight: bold;
   background: #f20606;
   padding: 4px 6px;
   font-size: 16px;
   display: inline-block;
   border-radius: 100%;
   line-height: .85;
   -webkit-transition: all 0.25s linear;
   -moz-transition: all 0.25s linear;
   -ms-transition: all 0.25s linear;
   -o-transition: all 0.25s linear;
   transition: all 0.25s linear;
   }
   a.remove:hover {
     background: #f30;
   }
  
   .promoCode {
     border: 2px solid #efefef;
     float: left;
     width: 35%;
     padding: 2%;
   }
   .promoCode label {
     display: block;
     width: 100%;
     font-style: italic;
     font-size: 1.15em;
     margin-bottom: .5em;
     letter-spacing: -.025em;
     margin-top:5px !important;
   }
   .promoCode input {
     width: 85%;
     font-size: 1em;
     padding: .5em;
     float: left;
     border: 1px solid #dadada;
   }
   .promoCode input:active, .promoCode input:focus {
     outline: 0;
   }
   .promoCode a.btn {
     float: left;
     width: 15%;
     padding: .75em 0;
     border-radius: 0 1em 1em 0;
     text-align: center;
   }
   /* .promoCode a.btn:hover {
     border: 1px solid #f69679;
     background: #f69679;
   } */
  
   .btn:link, .btn:visited {
     text-decoration: none;
     font-family: "Montserrat", sans-serif;
     letter-spacing: -.015em;
     font-size: 1em;
     padding: 1em 3em;
     color: #fff;
     background: #950505;
     font-weight: bold;
     border-radius: 50px;
     float: right;
     text-align: right;
     -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
     -ms-transition: all 0.25s linear;
     -o-transition: all 0.25s linear;
     transition: all 0.25s linear;
   }
   .btn:after {
     content: "\276f";
     padding: .5em;
     position: relative;
     right: 0;
     -webkit-transition: all 0.15s linear;
     -moz-transition: all 0.15s linear;
     -ms-transition: all 0.15s linear;
     -o-transition: all 0.15s linear;
     transition: all 0.15s linear;
   }
   /* .btn:hover, .btn:focus, .btn:active {
     background: #f69679;
   } */
   .btn:hover:after, .btn:focus:after, .btn:active:after {
     right: -10px;
   }
   .promoCode .btn {
     font-size: .85em;
     padding: .5em 2em;
   }
  
   .subtotal {
      float: right;
      width: 35%;
    }
    .subtotal .totalRow {
      padding: .5em;
      text-align: right;
    }
    .subtotal .totalRow.final {
      font-size: 1.25em;
      font-weight: bold;
    }
    .subtotal .totalRow span {
      display: inline-block;
      padding: 0 0 0 1em;
      text-align: right;
    }
    .subtotal .totalRow .label {
      font-family: "Montserrat", sans-serif;
      font-size: .85em;
      text-transform: uppercase;
      color: #777;
    }
    .subtotal .totalRow .value {
      letter-spacing: -.025em;
      width: 35%;
    }
   
    @media only screen and (max-width: 39.375em) {
      .wrap {
        width: 98%;
        padding: 2% 0;
      }
   
      .projTitle {
        font-size: 1.5em;
        padding: 10% 5%;
      }
   
      .heading {
        padding: 1em;
        font-size: 90%;
      }
   
      .cart .items .cartSection {
        width: 90%;
        display: block;
        float: left;
      }
      .cart .items .cartSection.qtyWrap {
        width: 10%;
        text-align: center;
        padding: .5em 0;
        float: right;
      }
      .cart .items .cartSection.qtyWrap:before {
        content: "QTY";
        display: block;
        font-family: "Montserrat", sans-serif;
        padding: .25em;
        font-size: .75em;
      }
      .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
        display: none;
      }
      .cart .items .cartSection .itemImg {
        width: 25%;
      }
   
      .promoCode, .subtotal {
        width: 100%;
      }
   
      a.btn.continue {
        width: 100%;
        text-align: center;
      }
    }
   
   
   .page-nav11 {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     width: max-content;
     margin: auto;
   }
   
   .logo{
     padding: 10px;
     margin: auto 0;
   }
   .nav-area {
     width: 100%;
     margin: auto;
     background: #6761b5;
     margin-bottom: 2em;
     display: flex;
   
   }
   
   .page-nav11 li {
     float: left;
   }
   
   .page-nav11 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   .page-nav11 li a:hover, .page-nav11 li a:focus {
     background-color: #5e58aa !important;
     color: white !important;
   }
   .btn-primary:hover {
       border-color:#009688;
   }
   .btn-primary {
       border-color:#009688;
   }
   .form-style {
       margin: auto;
           padding: 2%;
   }
   .form-style input.m-element-button{
       border: none;
       height: 40px;
   }
   .form-style input.m-element-button {
       padding: 0 25px;
   }
   .auth_form h3 {
       margin-bottom: 1em;
       font-weight: 300 !important;
      font-size: 1.640625rem !important;
      line-height: 1.2 !important;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
   }
   .auth_form select {
       height: 35px;
       padding: 0 20px;
       outline: none;
       margin-bottom: 0.5rem;
       border: 2px solid #efefef;
   }
   input[type="date"], input[type="text"] {
       height: 35px;
   }
   form#course_form input.m-element-button {
       background: #009688;
       color: #fff;
       margin-left: 28%;
   }
   .course-box1, .course-box2, .course-box3 {
       width: 33%;
       float: left;
       background: #595959;
       padding: 2%;
   }
   .flex11 {
       display: flex;
       color: #fff;
   }
   .course-box2,  .course-box3 {
       margin-left: 1%;
   }
   footer.copyright-area {
       width: 100%;
       background: #6761b5;
       margin-top: 2em;
       color: #fff;
       padding: 10px;
   }
   .Schedule {
       color: #111;
       margin-bottom: 1em;
       width: 100%;
   }
   section#region-main {
       padding: 0;
   }
   .marginBtn{
       margin-top:40%;
   }
   .form-check-input{margin-top: 0.2rem !important;}
  
  body, label{font-size: 15px !important;
      font-weight: 600;
      color: #0f0f0fc9;}
  
  .alert {
      background-color: #f44336;
       padding: 40px;
      color: white;
     text-align:center;
     border:10px double white;
     
     }
     .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    }
  
    .success {background-color: #04AA6D;
      padding: 40px;
      color: white;
     text-align:center;
     border:10px double white;
     }
     
     .warning {background-color: #ff9800;
      padding: 40px;
      color: white;
     text-align:center;
     border:10px double white;
     }